<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="<%= htmlWebpackPlugin.options.seo.color %>" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.seo.description %>" />
    <link rel="shortcut icon" href="/favicon.png" />
    <title><%= htmlWebpackPlugin.options.seo.title %></title>
  </head>

  <body>
    <noscript> Включите исполнение JavaScript в браузере, чтобы запустить приложение. </noscript>
    <div id="app"></div>
  </body>
</html>